{% extends 'all-temps/base.html' %}
{% load bootstrap5 %}
{% block content %}
<br><br><br><br>
<!-- content -->
<div class="container">
    <div class=" mt-4">
        <div class="text-center">
            <h4>Create Business</h4>
        </div>
        <form action="{% url 'create_business' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
                <input type="submit" class="btn btn-outline-info btn-sm" value="create business" />
            </div>
        </form>
    </div>
</div>

{% endblock%}