{% extends "all-temps/base.html" %}
{% block content %}
<br><br><br><br>
<style>
    .cint {
        margin-left: 35%;
    }

    section {
        overflow: hidden;
        width: 100%;
    }
</style>
<section>
    <div class=" container cint">
        <div class=" mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card"
                        style="background: linear-gradient(to top left, #e89beb, #99f048);filter: drop-shadow(2px 4px 8px #585858);">
                        {% if profile.profile_photo %}
                        <img src="{{profile.photo.url}}" alt="" class="card-img-top">
                        {%else%}
                        <img src="https://cdn.pixabay.com/photo/2012/04/01/18/02/golf-23794__340.png"
                            class="card-img-top" alt="My profile picture">
                        {% endif %}
                        <div class="card-body text-center">
                            <p><span style="font: weight 900px; font-size:larger;">Username: </span> {{ user.username }}
                            </p>
                            <p>
                                {% if profile.contact %}
                            <p> <span style="font: weight 900px; font-size:larger;"> Phone Number:
                                </span>{{profile.contact}}</p>
                            {% else %}
                            <span class="badge rounded-pill bg-info text-white">No contact</span>
                            {% endif %}
                            </p>

                            <p>
                                {% if profile.location %}
                            <p> <span style="font: weight 900px; font-size:larger;"> Location:
                                </span>{{profile.location}}</p>
                            {% else %}
                            <span class="badge rounded-pill bg-info text-white">No location</span>
                            {% endif %}
                            </p>

                            <p>
                                {% if profile.bio %}
                            <p><span style="font: weight 900px; font-size:larger;"> Bio: </span>{{ profile.bio }}</p>
                            {% else %}
                            <span class="text-danger">No about me</span>
                            {% endif %}
                            </p>

                            <p>
                                {% if profile.hood %}
                            <p><span style="font: weight 900px; font-size:larger;"> Hood: </span>{{ profile.hood }}</p>
                            {% else %}
                            <span class="text-danger">No Hood</span>
                            {% endif %}
                            </p>
                            <p>Joined on: <span class="badge rounded-pill bg-secondary text-white">
                                    {{ user.created_on|date }} </span></p>
                        </div>
                    </div>
                    <br>
                    <div class="deets">
                        <div>
                            <!-- <h3>{{user.username}}</h3> -->
                            {% if request.user is user %}
                            <div>
                                <a href="{%url 'update_profile' user.id %}"
                                    style="color: #f4f7f6; background-color:#2d7708 ; padding:2%;border-radius:20% 20% 15% 15%;">
                                    Edit Profile
                                </a>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}