<style>
    .pad a {
        margin-left: 10%;
        margin-right: 10%;

    }

    .pad {
        width: 60%;
        margin-left: 5%;
    }


    .log {
        margin-right: 10%;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light  fixed-top navi"
    style=" background: linear-gradient(to top , #f0ea9c, #f05c48);border-bottom : inset #161516;">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav pad">
            <a class="nav-link active" aria-current="page" href="/" style="font-family: Open Sans Condensed, sans-serif;
          font-weight: 900;
          font-style: oblique;
          font-size: x-large;
          padding-top: 1%;">Home</span></a>
            <a class="nav-link active" style="font-family: Open Sans Condensed, sans-serif;
                    font-weight: 900;
                    font-style: oblique;
                    font-size: x-large;
                    padding-top: 1%;" href="/busineses/">Businesses</a>
            <a class="nav-link active" style="font-family: Open Sans Condensed, sans-serif;
                    font-weight: 900;
                    font-style: oblique;
                    font-size: x-large;
                    padding-top: 1%;" href="/neighbourhood/">Hoods</a>
            <a class="nav-link active" style="font-family: Open Sans Condensed, sans-serif;
                    font-weight: 900;
                    font-style: oblique;
                    font-size: x-large;
                    padding-top: 1%;" href="/profiles/">Profiles</a>
            <a class="nav-link active" style="font-family: Open Sans Condensed, sans-serif;
                    font-weight: 900;
                    font-style: oblique;
                    font-size: x-large;
                    padding-top: 1%;" href="/post/">Posts</a>
        </div>
    </div>


    <!-- Adding a search form  -->

    <!-- search form end -->
    <a class="nav-link active text-dark prof" href="/profile">

        <div class="user">
            {% if user.is_authenticated %}
            <img src="{{user.profile.photo.url}}" alt="" style="border-radius: 50%; width: 10%; height: 10%;"> &nbsp;
            <span class="text-dark">{{user.username|title}}</span>
            {%else%}
            <img src="hhttps://cdn.pixabay.com/photo/2012/04/01/18/02/golf-23794__340.png" class="card-img-top"
                alt="My profile picture" style="border-radius: 50%; width: 10%; height: 10%;">
            {% endif %}
        </div>
        <div class="log">
            <a class="nav-item text-dark" style="font-size: larger; list-style-type: none;" href="/logout/">Logout</a>
        </div>
</nav>